APP_NAME="Bill Pay"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE="UTC"

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=xys6
AWS_SECRET_ACCESS_KEY=xys
AWS_DEFAULT_REGION=xys5
AWS_BUCKET=xys6
AWS_USE_PATH_STYLE_ENDPOINT=false

SFTP_USERNAME=xys6
SFTP_PASSWORD=xys

DIGITALOCEAN_SPACES_KEY=hj
DIGITALOCEAN_SPACES_SECRET=vh
DIGITALOCEAN_SPACES_ENDPOINT=jk
DIGITALOCEAN_SPACES_REGION=sfo2
DIGITALOCEAN_SPACES_BUCKET=
DIGITALOCEAN_ASSETS_URL=""
DIGITALOCEAN_DIRECTORY=""

FTP_HOST=xys6
FTP_USERNAME=xys
FTP_PASSWORD=xys6

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=ap2

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

NOCAPTCHA_SECRET=
NOCAPTCHA_SITEKEY=

GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET
GITHUB_REDIRECT_URL=http://localhost/user/auth/callback/github

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URL=http://localhost/user/auth/callback/google

FACEBOOK_CLIENT_ID=XXXXXXXXXXXX
FACEBOOK_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXX
FACEBOOK_REDIRECT_URL=http://localhost/user/auth/callback/facebook

IS_DEMO=false
